# Telegram Bot Configuration
TELEGRAM_BOT_TOKEN=your_bot_token_here
TELEGRAM_CHAT_ID=your_telegram_chat_id

# Server Configuration
PORT=3001

# Vite API URL (production uchun o'zgartiring)
VITE_API_URL=http://localhost:3001
